{{input class="name" type="text" placeholder="enter session name" value=name }}
<button class="submit" {{action "add"}}>Add</button>
<br />

<table>
{{#each session in controller}}
<tr>
  <td>{{session.name}}</td>
  <td><button {{action "remove" session}} class="delete">Delete</button></td>
  <td>Speakers - 
  {{#each speaker in session.speakers}}
    {{speaker.name}}
  {{/each}}
  </td>
</tr>
{{/each}}
</table>
