{{input class="name" type="text" placeholder="enter session name" value=name }}
<button class="submit" {{action "add"}}>Add</button>
<br />

<table>
{{#each session in controller}}
<tr>
  <td>{{session.name}}</td>
  <td><button {{action "remove" session}} class="delete">Delete</button></td>
  <td><button {{action "save" session}}>Save</button></td>
</tr>
{{/each}}
</table>
